.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
}

#existing-room,  #new-room-form, #code-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.leader-board {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 400px;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    transition: all 0.1s ease-in-out;
}
.leader-board.toggled {
    width: 50px !important;
    color: #fff !important;
    height: 50px !important;
    overflow: hidden !important;
}
.board-title {
    font-size: 2vmin;
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    margin: 0;
}
#toggle {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(0,0,0,0.07);
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}
.holder {
    display: inline-flex;
    justify-content: space-around;
    font-size: 2vmin;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.050);
    position: relative;
    z-index: 10;
}

.modal {
    background-color: #fff;
    position: absolute;
    z-index: 15;
    width: 400px;
    border-radius: 10px;
}

label {
    font-size: 2vmin;
}
input {
    padding: 4px;
    border-radius: 20px;
    font-size: 1.63vmin;
    letter-spacing: 1px;
}

.or {
    font-size: 2vmin;
    position: relative;
    text-align: center;
}

.or::before, .or::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    background-color: #333;
    top: 50%;
    transform: translateY(-50%);
}
.or::after {
    right: 0;
}
.or::before {
    left: 0;
}

.btn {
    padding: 7px 10px;
    background-color: rosybrown;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
}

.save-btn {
    background-color: royalblue;
}

#new-room-form, #code-form {
    display: none;
}
.btn {
    width: 100%;
}