*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 7.5vmin;
    flex-direction: column;
}

button.restart {
    background: #333333;
    border: none;
    cursor: pointer;
}

button.restart img:hover {
    transform: rotate(180deg);
}

button.restart img {
    width: 30px;
    transition: transform 0.2s linear;
}

.score {
    background-color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 0 0 0 10px;
}
#score {
    position: absolute;
    right: 10px;
}

#game-board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #ccc;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
}

.cell {
    background-color: #aaa;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

.animate-text {
    animation: fontAnimate 0.1s ease-out;
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}

@keyframes fontAnimate {
    0% {
        font-size: 22px;
    }
    100% {
        font-size: 16px;
    }
}